#heading
  h1 nodechat
#context
  p
    | connected clients
    span#client_count 0
  ul#chat_list

form(method='post', action='#')#chat_form
  p
    label.name Name:
    input(type='text', name='whom')
  p
    label.message Message:
    textarea(name='content')
  input(type='submit', value='send')

#footer
