!!! 5
html
  head
    title= 'nodechat'
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/jquery-1.5.2.js')
    script(type='text/javascript', src='/javascripts/underscore.js')
    script(type='text/javascript', src='/javascripts/backbone.js')
    script(type='text/javascript', src='/javascripts/socket.io.js')
    script(type='text/javascript', src='/javascripts/application.js')
  body!= body
